<ion-view class="feeds-categories-view">

  <ion-nav-title>
        <span>微分</span>
  </ion-nav-title>

	<ion-content>
    <!-- <div class="row categories-list">
      <div ng-repeat="category in categories" class="col col-50">
        <a class="feed-category" ui-sref="app.main({categoryId: category._id})">
          <img class="category-image" ng-src="{{category.img}}"/>
          <div class="category-bg"></div>
          <span class="category-title">{{category.title}}</span>
        </a>
      </div>
    </div> -->
    <div class="list">
      <label class="item item-input">
        <input type="text" placeholder="请输入你要寻找的微分" ng-model="searchText"/>
      </label>
      <div ng-repeat="category in categories | filter:searchText">
        <a class="item item-icon-left" ui-sref="app.main({categoryId: category._id})">
          <i class="icon my-icon {{category.img}}"></i>
            <span style="padding-left: 20px;">{{category.title}}</span>
        </a>
      </div>
    </div>
  </ion-content>
	
</ion-view>