<ion-view title="免责申明">
	
	<ion-nav-bar class="bar-light">
        <ion-nav-back-button class="button-clear">
            返回
        </ion-nav-back-button>
    </ion-nav-bar>
	<ion-content has-header="true" padding="true">
		<b>免责声明</b><br>
		<b>总则</b><br>
		　　用户在接受微分网服务之前，请务必仔细阅读本条款并同意本声明。<br>
			<br>
		　　用户直接或通过各类方式（如站外API引用等）间接使用微分网服务和数据的行为，都将被视作已无条件接受本声明所涉全部内容；若用户对本声明的任何<br>条款有异议，请停止使用微分网所提供的全部服务。<br>
		<b>第一条</b><br>
		　　用户以各种方式使用微分网服务和数据（包括但不限于发表、宣传介绍、转载、浏览及利用微分网或微分网用户发布内容）的过程中，不得以任何方式利用<br>微分网直接或间接从事违反中国法律、以及社会公德的行为，且用户应当恪守下述承诺：<br>
			<br>
		　　1. 发布、转载或提供的内容符合中国法律、社会公德；<br>
		　　2. 不得干扰、损害和侵犯微分网的各种合法权利与利益；<br>
		　　3. 遵守微分网以及与之相关的网络服务的协议、指导原则、管理细则等；<br>
			<br>
		　　微分网有权对违反上述承诺的内容予以删除。<br>
		<b>第二条</b><br>
		　　1. 微分网仅为用户发布的内容提供存储空间，微分网不对用户发表、转载的内容提供任何形式的保证：不保证内容满足您的要求，不保证微分网的服务不<br>会中断。因网络状况、通讯线路、第三方网站或管理部门的要求等任何原因而导致您不能正常使用微分，微分网不承担任何法律责任。<br>
			<br>
		　　2. 用户在微分网发表的内容（包含但不限于微分网目前各产品功能里的内容）仅表明其个人的立场和观点，并不代表豆瓣网的立场或观点。其中，「微分<br>」App的订阅服务是仅为用户提供信息传播与分享的平台性服务。作为内容的发表者，需自行对所发表内容负责，因所发表内容引发的一切纠纷，由该内<br>容的发表者承担全部法律及连带责任。微分网不承担任何法律及连带责任。<br>
			<br>
		　　3. 用户在微分网发布侵犯他人知识产权或其他合法权益的内容，微分网有权予以删除，并保留移交司法机关处理的权利。<br>
			<br>
		　　4. 个人或单位如认为豆瓣网上存在侵犯自身合法权益的内容，应准备好具有法律效应的证明材料，及时与微分网取得联系，以便微分网迅速做出处理。<br>
		<b>附则</b><br>
		　　对免责声明的解释、修改及更新权均属于微分网所有。		<br>
	</ion-content>
	
</ion-view>