<ion-view hide-back-button="true">

    <!-- <ion-nav-buttons side="left">
        
    </ion-nav-buttons> -->
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ui-sref="app.create({parentCategoryId: categoryId})">新建</button>
    </ion-nav-buttons>
    <ion-nav-title>
        <span>微分</span>
    </ion-nav-title>

    <ion-content padding="true">

        <div ng-repeat='weshare in weshares' class="list card">
            <a ui-sref="app.detail({weshareId: weshare._id})" style="text-decoration: none;">
                <div class="item item-avatar item-button-right">
                    <img src="{{weshare.images[0].url}}" ng-show="weshare.images.length > 0"/>
                    <h2>{{weshare.title}}</h2>
                    <p>{{weshare.createdOn | date: 'MM/d/y'}}</p>
                </div>
            </a>
            <div class="item item-body">
                <p>{{weshare.description | showParts }}</p>
            </div>
        </div>

        <ion-infinite-scroll ng-if="refresher" on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>

</ion-view>
