<ion-view hide-back-button="true">

    <!-- <ion-nav-title>
        <h1>title</h1>
    </ion-nav-title> -->

    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="create()">新建</button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="filter()">设置</button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <!-- <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()"></ion-refresher> -->

        <div ng-repeat='weshare in weshares' class="list card">
            <!-- <a href="/#/weshares/{{weshare._id}}"> -->
            <a ui-sref="detail({weshareId: weshare._id})" style="text-decoration: none;">
                <div class="item item-avatar item-button-right">
                    <img src="{{weshare.images[0].url}}" ng-show="{{weshare.images}}"/>
                    <h2>{{weshare.title}}</h2>
                    <p>{{weshare.createdOn | date: 'MM/d/y'}}</p>
                    <!-- <button class="button button-icon"><i class="ion-android-favorite"></i><h2>{{weshare.likes.num}}</h2></button> -->
                </div>
            </a>
            <div class="item item-body">
                <p>{{weshare.description | showParts }}</p>
            </div>
        </div>

        <ion-infinite-scroll ng-if="refresher" on-infinite="loadMore()"></ion-infinite-scroll>

    </ion-content>

</ion-view>