<ion-view class="all-elements" hide-nav-bar="true">

	<!-- <ion-content scroll="false">
		<div class="top-content row">
			<div class="col col-center">
				<h2>微分</h2>
			</div>
		</div>

		<div class="bottom-content ">
			<button class="login button button-block button-stable" ui-sref="login">登录</button>
			<button class="sign-up button button-block button-stable" ui-sref="signup">注册</button>
		</div>
	</ion-content> -->

	<ion-content scroll="false" class="coverpage-image bg1 coverpage-style-2">
		<div>
			<div class="overlay dark-overlay"></div>
			<div >
				<h3 style="height:180px; top:50%; margin-top:-130px;">
					微分
				</h3>
				<p style="height:100px; top:50%; margin-top:20px;">
					让微信连接你我他
				</p>
				<button style="top:50%; margin-top:140px; margin-left:25px;" ui-sref="login" class="coverpage-button">登陆</button>
				<button style="top:50%; margin-top:140px; margin-left:155px;" ui-sref="signup" class="coverpage-button">注册</button>
			</div>
		</div>
	</ion-content>

</ion-view>