/* Empty. Add your own CSS if you like */

/*.bar-light {
background-color: #e67e22 !important;
}*/

.my-icon::before{
  font-size: 20px;
}

.all-elements{
  position:absolute;
  overflow-x:hidden!important;  
  width:100%;
  height:100%;
  min-height:100%;
  max-height:100%;
}

.overlay{
  pointer-events:none;
  position:absolute;
  width:100%;
  height:100%;
  background-color:rgba(0,0,0,0.5);
  z-index:9999;
}

.dark {
  background-color: #3f4041 !important;
  color: #ffffff;
}


/* main page */
.float-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  padding: 30px;
  font-size: 40px;
  background: $warning;
  position: fixed;
  bottom: 20px; /* Adjust to where you want it */
  right: 20px; /* Adjust to where you want it */
  z-index: 9999;
}

.float-button .height_fix {
  margin-top: 100%;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -15px; /* Note, this must be half the font size */
  color: $light;
}

input.reset-field { padding-right: 20px; }
.reset-field-icon {
    position: absolute;
    right: 6px;
    top: 22px;
    margin: 0px;
    color: #bbb;
}



/* welcome page*/
.dark-overlay{
    background-color:rgba(0,0,0,0.7)!important;   
}

.coverpage-image{ background-size:cover; background-position: center center;}

.bg1{
    background-image:url(../img/welcome-bg.jpg);   
    background-position:center center;
}

.coverpage-style-2 h3{
    position:absolute;
    display:block;
    width:200px;
    font-size:32px;
    line-height:45px;
    font-weight:800;
    color:#FFFFFF;
    z-index:99999;
    margin-left:25px;
}

.coverpage-style-2 p{
    position:absolute;
    display:block;
    width:220px;
    z-index:999999;
    color:rgba(255,255,255,0.8);
    margin-left:25px;
}

.coverpage-button{
    position:absolute;
    z-index:99999;
    border:solid 1px rgba(255,255,255,1);
    width:100px;
    height:40px;
    line-height:38px;
    text-align:center;
    color:#FFFFFF;
    transition:all 250ms ease;
}

.coverpage-button:hover{
    background-color:rgba(255,255,255,0.1);
    color:#FFFFFF;
}

/* detail page*/
.profile-pic {
    width: 140px;
    height: 140px;
    border: solid 8px #eee;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}

/*rating*/
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 25px;
}


/*category*/
.feeds-categories-view {
  background-color: #EAEAEA !important; }
  .feeds-categories-view .categories-list {
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap; }
  .feeds-categories-view .feed-category {
    height: calc(50vw - 15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
    position: relative;
    display: block; }
    .feeds-categories-view .feed-category .category-image {
      width: 100%;
      height: 100%;
      border-radius: 2px; }
    .feeds-categories-view .feed-category .category-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(42, 42, 42, 0.3) 40%, rgba(68, 68, 68, 0.3) 60%, rgba(93, 93, 93, 0.3)); }
    .feeds-categories-view .feed-category .category-title {
      color: #fff;
      position: absolute;
      top: 2px;
      left: 8px;
      font-weight: 500;
      text-transform: capitalize; }

/*title*/
.item-title{
  white-space: normal;
}

